<div class="jumbotron">
  <h1>Welcome to My App</h1>
  <p>It's Gonna Kick All Ass...</p>
  <%= link_to 'About Us', home_about_path, class: 'btn btn-default' %>
  <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
</div>
